.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app {
  display: flex;
  height: 100vh;
}

.left-section, .right-section {
  position: relative;
  flex: 1;
  overflow: visible;
  height: 100vh;
}

.full-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  border: #282c34;
  border: 1px solid transparent;
  box-shadow: 0 0 50px rgba(72, 234, 252, 0.8);
  border-radius: 50%;
  opacity: 93%;
}


.chat-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  background: transparent;
  transform: translate(-50%, -50%); 
}

.button-container {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 85%; /* Start the buttons 75% down the container, adjust based on overlay video size */
  transform: translateY(-50%); /* Adjust this to fine-tune the vertical position */
}

.button-container img {
  margin-left: 7px;
  margin-right: 7px;
  font-weight: 300;
}

.messages-container::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: #80cbc4; /* Light blue scrollbar */
  border-radius: 5px;
}